<p-confirmPopup></p-confirmPopup>
<p-card *ngIf="isLoggedIn" class="caff-big-card">
    <div>
        Tags:
        <p-autoComplete class="mr-5" [(ngModel)]="tagSearchValues" [suggestions]="filteredTags" (completeMethod)="filterTags($event)" [multiple]="true"></p-autoComplete>
        Captions:
        <p-autoComplete class="p-mb-5" [(ngModel)]="captionSearchValue" [suggestions]="filteredCaptions" (completeMethod)="filterCaptions($event)"></p-autoComplete>
        <p-button class="m-5" label="Search" icon="pi pi-search" iconPos="left" (onClick)="search()"></p-button>
    </div>
    <p-panel class="m-5" header="CAFF list">
        <p-card class="caff-card" *ngFor="let caff of caffs let i = index">
            <app-caff-animator class="m-2" [caff]="caff"></app-caff-animator>
            <p-panel class="caff-card">
                <p-button class="me-2" [routerLink]="['/details', caff.id]" label="Details"></p-button>
                <p-button class="me-2" label="Download" icon="pi pi-download" iconPos="left" (click)="download(caff.id)"></p-button>
                <button *ngIf="isAdmin()" pButton type="button" label="Delete" (click)="deleteCaff($event, caff.id)" icon="pi pi-trash" class="p-button-danger"></button>
            </p-panel>
        </p-card>
    </p-panel>
</p-card>
<p-card *ngIf="!isLoggedIn" class="caff-big-card">
    Please log in to use the application.
</p-card>