<div class="login-container">
    <div class="login-form">
        <span class="p-float-label">
          <input autofocus id="float-input-mail" class="w-100" autocomplete="off" type="text" (keyup.enter)="login()" pInputText [(ngModel)]="email"> 
          <label for="float-input-mail">E-mail</label>
        </span>
        <span class="p-float-label float-label-margin">
          <input id="float-input-pw" class="w-100" type="password" (keyup.enter)="login()" pInputText [(ngModel)]="password"> 
          <label for="float-input-pw">Password</label>
        </span>
        <div class="mt-4">
            <re-captcha [(ngModel)]="captcha" name="captcha" required></re-captcha>
        </div>

        <button pButton pRipple class="w-100 float-label-margin" [disabled]="loginDisabled()" type="button" label="Login" (click)="login()"></button>
        <p class="text-center mb-0 mt-4"><a routerLink="/register">No account? Register here!</a></p>
    </div>
</div>