.float-label-margin {
    margin-top: 2rem;
}

.register-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-template-rows: repeat(3, 33%);
}

.register-form {
    grid-column: 2;
    grid-row: 2;
}

.register-form input {
    color: rgba(255, 255, 255, 0.87);
}

@media (min-width: 0) {
    .register-container {
        grid-template-columns: 0% 100% 0%;
    }
    @media (orientation: portrait) {
        .register-form {
            margin-top: 15%;
            grid-column: 2;
            grid-row: 1;
        }
    }
}

@media (min-width: 576px) {
    .register-container {
        grid-template-columns: 5% 90% 5%;
    }
}

@media (min-width: 768px) {
    .register-container {
        grid-template-columns: 15% 70% 5%;
    }
}

@media (min-width: 992px) {
    .register-container {
        grid-template-columns: 15% 70% 5%;
    }
}

@media (min-width: 1200px) {
    .register-container {
        grid-template-columns: 35% 30% 35%;
    }
}

@media (min-width: 1400px) {
    .register-container {
        grid-template-columns: 35% 30% 35%;
    }
}